* {
    font-family: sans-serif;
}

html {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: rgb(218, 248, 248);
}

header {
    justify-content: space-between;
}

header img {
    width: 8%;
    height: 6%;
    align-self: center;
    
}

.wrapper:not(header .wrapper) {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
}

header,
footer {
    background-color: pink;
}

header nav ul {
    display: flex;
    
}

header nav ul li {
    list-style: none;
    padding: 20px;
}


a {
    color: white;
    text-decoration: none;
}

 main article div img {
    width: 40%;
    float: right;
}

main div div ul {
    border: 1px solid rgb(86, 71, 71);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

main div ul li {
    list-style: none;
    border-bottom: 2px solid black;
    padding: 5px;
}

.border {
    border-top: 2px solid darkgray;
    border-bottom: 2px solid black;;
}

.list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

.color {
    background-color: rgb(255, 233, 192);
}

.stock-art img {
    border-radius: 50%;
    border: 1px solid black;
    width: 125px;
    height: 120px;
}

.stock-art {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color {
    background-color: rgb(255, 233, 192);
}

footer {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
